---
pagination:
  data: collections.tags      # ← sửa thành collections.tags
  size: 1
  alias: tag
eleventyExcludeFromCollections: true
eleventyComputed:
  title: "Tagged '{{ tag }}'"
  permalink: /tags/{{ tag | slugify }}/index.html
---
<h1>Tagged “{{ tag }}”</h1>

{% set postslist = collections.all | postsByTag(tag) | reverse %}
{% include "postslist.njk" %}

<p>See <a href="/tags/">all tags</a>.</p>
